
      <div class="br-board engoc-topbar topbar_s3">
          <div class="{%if layout == 'fullscreen'%}container-fluid{%else%}container{%endif%}"> 
          {% include 'topbar_s3' %}
          </div>
        </div>    