

<div class="container">
            <div class="page-404" style="padding:50px 0;">
                <!-- End images -->
                <div class="text center" style="text-align:center;">
                    <div class="icon-box box">
                        <img src="{{'main-404.png'|asset_url}}" alt="icon">
                    </div>
                    <h3 style="font-size:60px; font-weight:700;">{{settings.main_404_text}}</h3>
                    <p>{{settings.main_404_text2}} <a href="{{shop.url}}" title="link">home page <i class="fa fa-angle-double-right"></i></a></p>
                   
                </div>
                <!-- End text -->
            </div>
            <!-- End page404 -->
        </div>