<section id="content">
		<div class="container">
			{%include 'breadcrumb'%}
			<!-- ENd Banner -->
			<div class="content-page">
				{%section 'section-fruit-health-v1'%}
				<!-- End Fruit Health -->
			</div>	
			<!-- End Content Page -->
		</div>
		{%section 'section-testimonial-v4'%}
		<!-- End What About -->
		{%section 'section-our-team-v2'%}
	</section>
